{# https://stackoverflow.com/questions/16019887/include-twig-with-multiple-parameters #}
{% extends "app.html.twig" %}

{% block content %}
  <section>
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        {# alert start #}
        {% if err_message is defined and err_message is not empty %}
        {# /alert 条件 #}
        <div class="alert alert-secondary" role="alert">
          <ul>
            {% if err_message is defined %}
              <li>{{ err_message }}</li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
        {# alert end #}
          <div class="card shadow-2-strong">
            <div class="card-body p-5 text-center">

              <h3 class="mb-5">{{ title }}</h3>

              <form action="{{ action }}" method="post">

                {# title #}
                <div class="form-outline mb-4">
                  {% if formType == 'post' %}
                    <input type="text" name="title" id="title" class="form-control form-control-lg" />
                  {% elseif formType == 'edit' and todo is not empty %}
                    <input type="text" name="title" id="title" value="{{ todo.title }}" class="form-control form-control-lg" />
                  {% endif %}
                  <label class="form-label" for="title">Title</label>
                </div>

                {# content #}
                <div class="form-outline mb-4">
                  {% if formType == 'post' %}
                    {# <input type="text" name="content" id="content" class="form-control form-control-lg" /> #}
                    <textarea name="content" id="content" rows="3" class="form-control form-control-lg"></textarea>
                  {% elseif formType == 'edit' and todo is not empty %}
                    {# <input type="text" name="content" id="content" value="{{ todo.content }}" class="form-control form-control-lg" /> #}
                    <textarea name="content" id="content" rows="3" class="form-control form-control-lg">{{ todo.content }}</textarea>
                  {% endif %}
                  <label class="form-label" for="content">Content</label>
                </div>

                {# token #}
                <input type="hidden" name="token" value="{{ token|e }}">

                {# user_id / post #}
                {% if formType == 'post' %}
                <input type="hidden" name="user_id" value="{{ user_id|e }}">
                {% endif %}

                {# todo.id / edit #}
                {% if formType == 'edit' %}
                <input type="hidden" name="id" value="{{ todo.id|e }}">
                {% endif %}

                <button class="btn btn-outline-dark btn-lg btn-block" type="submit">submit</button>
              </form>

              <a href="/" class="link-dark d-block mt-4">Home</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}